body {
	background: url('../images/007.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

#container {
	background-color: #a8a67d;
	width: 557px;
	color: #272510;
	padding: 15px;
}

h1 {
	font-size: 80px;
}

h2	{
	background-color: #b0775c;
	color: #272510;
	padding: 5px;
	border-radius: 5px;
}

a {
	color: #b0775c;
	text-decoration: none;
}